In [1]:
# Dependencies
import pandas as pd

In [2]:
# List of file names to be combined 
files15 = ['data/201501.csv', 'data/201502.csv', 'data/201503.csv', 'data/201504.csv', 'data/201505.csv', 'data/201506.csv', 'data/201507.csv', 'data/201508.csv', 'data/201509.csv', 'data/201510.csv', 'data/201511.csv', 'data/201512.csv']

# Create an empty list to store each dataframe
df15_list = []

# Loop through each file in the list
for x in files15:
    # Read the file into a dataframe
    df15 = pd.read_csv(x)

    # Append the dataframe to the list
    df15_list.append(df15)

# Concatenate all dataframes in the list into one dataframe
df15 = pd.concat(df15_list)

# Show dataframe
df15

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804120,509,12/31/2015 16:50:17,12/31/2015 16:58:46,3242,Schermerhorn St & Court St,40.691029,-73.991834,261,Johnson St & Gold St,40.694749,-73.983625,22282,Subscriber,1957.0,1
804121,591,12/31/2015 17:17:52,12/31/2015 17:27:43,3242,Schermerhorn St & Court St,40.691029,-73.991834,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,22366,Subscriber,1978.0,1
804122,197,12/31/2015 17:56:22,12/31/2015 17:59:39,3242,Schermerhorn St & Court St,40.691029,-73.991834,157,Henry St & Atlantic Ave,40.690893,-73.996123,20663,Subscriber,1959.0,1
804123,372,12/31/2015 21:20:38,12/31/2015 21:26:50,3242,Schermerhorn St & Court St,40.691029,-73.991834,467,Dean St & 4 Ave,40.683125,-73.978951,19782,Subscriber,1987.0,1
804124,395,12/31/2015 21:49:19,12/31/2015 21:55:55,3242,Schermerhorn St & Court St,40.691029,-73.991834,418,Front St & Gold St,40.702240,-73.982578,23411,Subscriber,1968.0,1

In [7]:
# Get the number of null values in each column 
null_counts = df15.isna().sum()

# Show the number of null values
null_counts

tripduration                     0
starttime                        0
stoptime                         0
start station id                 0
start station name               0
start station latitude           0
start station longitude          0
end station id                   0
end station name                 0
end station latitude             0
end station longitude            0
bikeid                           0
usertype                         0
birth year                 1311378
gender                           0
dtype: int64

In [8]:
# Drop rows containing null values
df15.dropna(inplace=True)

# Check to make sure all nulls were dropped
null_counts = df15.isna().sum()
null_counts

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [5]:
# List of file names to be combined 
files16 = ['data/201601.csv', 'data/201602.csv', 'data/201603.csv', 'data/201604.csv', 'data/201605.csv', 'data/201606.csv', 'data/201607.csv', 'data/201608.csv', 'data/201609.csv', 'data/201610.csv', 'data/201611.csv', 'data/201612.csv']

# Create an empty list to store each dataframe
df16_list = []

# list of file names to be renamed
rename_files = ['data/201610.csv', 'data/201611.csv', 'data/201612.csv']

# Loop through each file in the list
for y in files16:
    # Read the file into a dataframe
    df16 = pd.read_csv(y)

    # Check if the file name is in the list of files to be renamed
    if y in rename_files:
        # Specify the new column names
        new_columns = {'Trip Duration': 'tripduration','Start Time': 'starttime','Stop Time': 'stoptime','Start Station ID':'start station id','Start Station Name':'start station name','Start Station Latitude': 'start station latitude','Start Station Longitude': 'start station longitude','End Station ID': 'end station id','End Station Name': 'end station name','End Station Latitude': 'end station latitude','End Station Longitude': 'end station longitude','Bike ID': 'bikeid','User Type': 'usertype','Birth Year':'birth year','Gender': 'gender'}

        # Change the column names
        df16.rename(columns=new_columns, inplace=True)



    # Append the dataframe to the list
    df16_list.append(df16)

# Concatenate all dataframes in the list into one dataframe
df16 = pd.concat(df16_list)

# Show dataframe
df16

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812187,441,2016-12-31 23:56:15,2017-01-01 00:03:36,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,336,Sullivan St & Washington Sq,40.730477,-73.999061,16185,Subscriber,1974.0,2
812188,1026,2016-12-31 23:56:19,2017-01-01 00:13:26,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,3143,5 Ave & E 78 St,40.776829,-73.963888,18267,NaN,1983.0,1
812189,1747,2016-12-31 23:56:35,2017-01-01 00:25:43,3424,E 106 St & Lexington Ave,40.791976,-73.945993,3295,Central Park W & W 96 St,40.791270,-73.964839,19899,Subscriber,1970.0,2
812190,951,2016-12-31 23:59:31,2017-01-01 00:15:23,3158,W 63 St & Broadway,40.771639,-73.982614,3169,Riverside Dr & W 82 St,40.787209,-73.981281,16866,Subscriber,1961.0,1
812191,1322,2016-12-31 23:59:56,2017-01-01 00:21:58,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,25793,Subscriber,1985.0,1

In [6]:
# Get the number of null values in each column 
null_counts = df16.isna().sum()

# Show the number of null values
null_counts

tripduration                     0
starttime                        0
stoptime                         0
start station id                 0
start station name               0
start station latitude           0
start station longitude          0
end station id                   0
end station name                 0
end station latitude             0
end station longitude            0
bikeid                           0
usertype                     35871
birth year                 1586863
gender                           0
dtype: int64

In [9]:
# Drop rows containing null values
df16.dropna(inplace=True)

# Check to make sure all nulls were dropped
null_counts = df16.isna().sum()
null_counts

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [10]:
# List of file names to be combined 
files17 = ['data/201701.csv', 'data/201702.csv', 'data/201703.csv', 'data/201704.csv', 'data/201705.csv', 'data/201706.csv', 'data/201707.csv', 'data/201708.csv', 'data/201709.csv', 'data/201710.csv', 'data/201711.csv', 'data/201712.csv']

# Create an empty list to store each dataframe
df17_list = []

# list of file names to be renamed
edit_files = ['data/201701.csv', 'data/201702.csv', 'data/201703.csv']

# Loop through each file in the list
for z in files17:
    # Read the file into a dataframe
    df17 = pd.read_csv(z)

    # Check if the file name is in the list of files to be renamed
    if z in edit_files:
        # Specify the new column names
        new_columns1 = {'Trip Duration': 'tripduration','Start Time': 'starttime','Stop Time': 'stoptime','Start Station ID':'start station id','Start Station Name':'start station name','Start Station Latitude': 'start station latitude','Start Station Longitude': 'start station longitude','End Station ID': 'end station id','End Station Name': 'end station name','End Station Latitude': 'end station latitude','End Station Longitude': 'end station longitude','Bike ID': 'bikeid','User Type': 'usertype','Birth Year':'birth year','Gender': 'gender'}

        # Change the column names
        df17.rename(columns=new_columns1, inplace=True)

    # Append the dataframe to the list
    df17_list.append(df17)

# Concatenate all dataframes in the list into one dataframe
df17 = pd.concat(df17_list)

# Show dataframe
df17

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889962,397,2017-12-31 23:54:22,2018-01-01 00:01:00,3417,Baltic St & 5 Ave,40.679577,-73.978550,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,30841,Subscriber,1957.0,2
889963,332,2017-12-31 23:54:44,2018-01-01 00:00:16,3236,W 42 St & Dyer Ave,40.758985,-73.993800,513,W 56 St & 10 Ave,40.768254,-73.988639,30417,Subscriber,1984.0,1
889964,565,2017-12-31 23:56:07,2018-01-01 00:05:33,254,W 11 St & 6 Ave,40.735324,-73.998004,411,E 6 St & Avenue D,40.722281,-73.976687,16125,Subscriber,1991.0,1
889965,1659,2017-12-31 23:57:16,2018-01-01 00:24:56,495,W 47 St & 10 Ave,40.762699,-73.993012,3163,Central Park West & W 68 St,40.773407,-73.977825,33328,Subscriber,1988.0,2
889966,1279,2017-12-31 23:58:56,2018-01-01 00:20:16,3135,E 75 St & 3 Ave,40.771129,-73.957723,3143,5 Ave & E 78 St,40.776321,-73.964274,31023,Subscriber,1968.0,2

In [11]:
# Get the number of null values in each column 
null_counts = df17.isna().sum()

# Show the number of null values
null_counts

tripduration                     0
starttime                        0
stoptime                         0
start station id                 0
start station name               0
start station latitude           0
start station longitude          0
end station id                   0
end station name                 0
end station latitude             0
end station longitude            0
bikeid                           0
usertype                     15909
birth year                 1630335
gender                           0
dtype: int64

In [12]:
# Drop rows containing null values
df17.dropna(inplace=True)

# Check to make sure all nulls were dropped
null_counts = df17.isna().sum()
null_counts

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [13]:
# List of file names to be combined 
files18 = ['data/201801.csv', 'data/201802.csv', 'data/201803.csv', 'data/201804.csv', 'data/201805.csv', 'data/201806.csv', 'data/201807.csv', 'data/201808.csv', 'data/201809.csv', 'data/201810.csv', 'data/201811.csv', 'data/201812.csv']

# Create an empty list to store each dataframe
df18_list = []

# Loop through each file in the list
for file in files18:
    # Read the file into a dataframe
    df18 = pd.read_csv(file)

    # Append the dataframe to the list
    df18_list.append(df18)

# Concatenate all dataframes in the list into one dataframe
df18 = pd.concat(df18_list)

# Show dataframe
df18

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20200,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.711130,-74.078900,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
20201,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
20202,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
20203,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
20204,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [16]:
# Get the number of null values in each column 
null_counts = df18.isna().sum()

# Show the number of null values
null_counts

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [14]:
# List of file names to be combined 
files19 = ['data/201901.csv', 'data/201902.csv', 'data/201903.csv', 'data/201904.csv', 'data/201905.csv', 'data/201906.csv', 'data/201907.csv', 'data/201908.csv', 'data/201909.csv', 'data/201910.csv', 'data/201911.csv', 'data/201912.csv']

# Create an empty list to store each dataframe
df19_list = []

# Loop through each file in the list
for f in files19:
    # Read the file into a dataframe
    df19 = pd.read_csv(f)

    # Append the dataframe to the list
    df19_list.append(df19)

# Concatenate all dataframes in the list into one DataFrame
df19 = pd.concat(df19_list)

# Show dataframe
df19

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1
19724,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1
19725,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,1
19726,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1
19727,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1

In [17]:
# Get the number of null values in each column 
null_counts = df19.isna().sum()

# Show the number of null values
null_counts

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [15]:
# List of file names to be combined 
files20 = ['data/202001.csv', 'data/202002.csv', 'data/202003.csv', 'data/202004.csv', 'data/202005.csv', 'data/202006.csv', 'data/202007.csv', 'data/202008.csv', 'data/202009.csv', 'data/202010.csv', 'data/202011.csv', 'data/202012.csv']

# Create an empty list to store each dataframe
df20_list = []

# Loop through each file in the list
for i in files20:
    # Read the file into a dataframe
    df20 = pd.read_csv(i)

    # Append the dataframe to the list
    df20_list.append(df20)

# Concatenate all dataframes in the list into one DataFrame
df20 = pd.concat(df20_list)

# Show dataframe
df20

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [18]:
# Get the number of null values in each column 
null_counts = df20.isna().sum()

# Show the number of null values
null_counts

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [19]:
# Concatenate all dataframes for all the years into one
combined_df = pd.concat([df15, df16, df17, df18, df19, df20], axis=0)

# Display the results
combined_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969.0,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969.0,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998.0,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969.0,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982.0,1

In [20]:
# Dictionary mapping values in the 'gender' column to new values
mapping = {0: 'Unknown', 1: 'Male', 2: 'Female'}

# Use the 'map' method to change the values in the 'gender' column
combined_df['gender'] = combined_df['gender'].map(mapping)

# Show DataFrame
combined_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,Female
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,Male
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,Male
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,Male
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969.0,Unknown
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969.0,Unknown
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998.0,Male
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969.0,Unknown
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982.0,Male

In [22]:
# Save the dataframe to a CSV file
combined_df.to_csv('data/citibike.csv', index=False)